.container {
    background-color: black;
    padding: 10px;
    margin: 10px;
}

.container1 {
    background-color: purple;
    display: flex;

}

.container2 {
    background-color: green;
    display: flex;
}

.container3 {
    background-color: red;
    display: flex;
}

.container4 {
    background-color: blue;
}

.container5 {
    background-color: yellow;
    display: flex;
}

.container6 {
    background-color: black;
    margin: 10px;
    padding: 10px;
    display: flex;
}

.item {
    background-color: ghostwhite;
    margin: 10px;
}

.item-footer {
    background-color: greenyellow;
}

.item-header-top {
    background-color: orange;
    margin: 10px;
    width: 33%;
}

.item-header-bottom{
    background-color: indianred;
    margin: 10px;
    width: 100%;
}